<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graph Reader</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script src="../static/js/main.js" defer></script>
  </head>
<body onload="pressButton();">
<h1>Graph Reader</h1>
<p class="intro">Upload an image of a directed graph, and this app will try to read and analyze it</p>

{% if filename and sample==True %}
  <div>
  <img src="{{ url_for('display_image2', filename=filename) }}" id="defaultImg" class="default">
  </div>
{% elif filename and sample==False %}
  <div>
  <img src="{{ url_for('display_image', filename=filename) }}" id="defaultImg" class="default">
  </div>
{% else %}
<div>
<img class="default" src="../static/sample_inputs/def.png" id="defaultImg">
</div>
{% endif %}

<form id="imgSelect" method="post" action="/" enctype="multipart/form-data">
  <div class="file-input">
    <input type="file" id="file" name="file" class="file" autocomplete="off" required>
    <label for="file">
      Browse Image to Upload
      <p class="file-name"></p>
    </label>
  </div>
  <input type="hidden" name="hiddenImg" id="hiddenImg" value="nothing">
  <p class="prompt">Upload an image, or take a spin using a sample image below:</p>
<div class="samples">
<img id="samp1" class="samp" src="../static/sample_inputs/graph_def.png">
<img id="samp2" class="samp" src="../static/sample_inputs/graph_def2.png">
<img id="samp3" class="samp" src="../static/sample_inputs/graph_def3.png">
</div>
<p>Click 'Submit' to analyze the image</p>
  <input type="submit" id="submit" value="Submit" class="submit">
</form>

<p class="response-msg">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}<br>
      {% endfor %} 
    {% endif %}
  {% endwith %}
</p>
{% if filename %}
<button id="getJson" onclick="getMatrix('{{filename}}')">Click me</button> 
{% else %}
<button id="getJson" onclick="getMatrix('none')">Click me</button> 
{% endif %}
<div id="analysis">

  
</div>
</body>
</html>